.ios-alert .alert-wrapper {
    background-color: #ffffff;
    border-radius: 10px;
  }
  
  .ios-alert .alert-button {
    font-weight: bold;
  }
  
  .ios-alert .alert-button-danger {
    background-color: #ff3b30;
    color: white;
  }
  